/** @format */
@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.card-shadow {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.card-shadow-top {
  -webkit-box-shadow: 4px 2px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 4px 2px 10px 1px rgba(201, 201, 201, 0.47);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr; /* cột 1 và 2 có độ rộng bằng nhau, cột 3 có độ rộng bằng 1/2 của cột 1 và 2 */
  grid-gap: 20px; /* khoảng cách giữa các cột */
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
  margin-bottom: 0 !important;
}
.css-o4b71y-MuiAccordionSummary-content.Mui-expanded,
.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0 !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded,
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  min-height: 28px !important;
}
.css-o4b71y-MuiAccordionSummary-content {
  margin: 6px 0 !important;
}

.css-26l3qy-menu {
  background-color: white;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px !important;
}
// .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
//   padding: 8px !important;
// }
